
{% extends 'base.html'%}

{% block body %}

<div class = "d-flex align-items-center gap-1", style="padding-left: 3rem; padding-top: 2rem;">
    <img src="{{url_for('static', filename='academica_logo.png')}}" alt="study" height="65">
    <h1 style="font-size: 2.4rem; font-weight: 500; line-height: 1.2; margin: 0;">Área Acadêmica</h1>
   
</div>
<hr>
<div id="card-area-academica">
  <div class="cards"> 
    {% for ativ in atividades %}
      <article class="card">
        <header>
          <h2>{{atividades[ativ]["nome_atividade"]}}</h2>
        </header>

        <div class="content">
          <p>Número de Turmas: {{atividades[ativ]["turmas"]}}</p>
          <p>Número de Professores: {{atividades[ativ]["n_professores"]}}</p>
          <p>Número de Alunos: {{atividades[ativ]["alunos"]}}</p>
          <p>Dias das Aulas:</p>
          <text>{{atividades[ativ]["dias_aula"]}}</text>
        </div>

        <div class="card-actions">
          <a href="{{ url_for('exibir_turmas', nome=atividades[ativ]['nome_atividade']) }}" class="btn btn-primary">Acessar Curso</a>
          <a href="{{url_for('excluir_atividade', nome_atividade=atividades[ativ]['nome_atividade']) }}" class="btn btn-danger">Excluir Curso</a>
        </div>
      </article>
    {% endfor %}
    </div>
</div>

{% endblock %}

