
{% extends 'base.html'%}

{% block body %}

<div class = "d-flex align-items-center gap-1", style="padding-left: 3rem; padding-top: 2rem;">
    <img src="{{url_for('static', filename='academica_logo.png')}}" alt="study" height="65">
    <h1 style="font-size: 2.4rem; font-weight: 500; line-height: 1.2; margin: 0;">Área Acadêmica</h1>
   
</div>
<hr>
<div id="card-area-academica">
{% for ativ in atividades %}
  <div class="card">
    <div class="card-content">
      <h5 class="card-title">{{atividades[ativ]["nome_atividade"]}}</h5>
      <p class="card-text">Número de Turmas: {{atividades[ativ]["turmas"]}}</p>
      <p class="card-text">Número de Professores: {{atividades[ativ]["n_professores"]}}</p>
      <p class="card-text">Número de Alunos: {{atividades[ativ]["alunos"]}}</p>
      <p class="card-text">Dias das Aulas: {{atividades[ativ]["dias_aula"]}}</p>
      <a href="{{ url_for('exibir_turmas', nome=atividades[ativ]['nome_atividade']) }}" class="btn btn-primary">Acessar Curso</a>
      <a href="#" class="btn btn-danger">Excluir Atividade</a>
    </div>
  </div>
 {% endfor %}
</div>

{% endblock %}

