
{% extends 'base.html'%}

{% block body %}

<h1>Cadastro de Atividades</h1>
<h2>Por favor, preencha os campos abaixo</h2>


<div class="col">
  <form method="POST", action="" class="border p-4 mt-1">
    {{ form_cad_ativ.csrf_token }}
    
    <fieldset>
      <div class="form-group">
        {{ form_cad_ativ.atividade.label(class="form-control-label") }}
        {% if form_cad_ativ.atividade.errors %}
          {{ form_cad_ativ.atividade(class='form-control is-invalid')}}
      </div>
      <div class="invalid-feedback">
        {% for erro in form_cad_ativ.atividade.errors %}
          {{erro}}
        {% endfor %}
      </div>
      {% else %}
        {{form_cad_ativ.atividade(class="form-control")}}
      {% endif %}
    </fieldset>

    <p>Dias das Aulas</p>
    {% for campo in dias_atividade %}
      {% if '_feira' in campo.name %}
        <div class="form-group">
          {{campo(class='form-check-input')}}
          {{campo.label(class='form-check-label')}}
        </div>
      {% endif %}
    {% endfor %}

    {{form_cad_ativ.botao_submit_ativ(class='btn btn-primary mt-2')}}
    

{% endblock %}

