
{% extends 'base.html'%}

{% block body %}

<div class = "d-flex align-items-center gap-1", style="padding-left: 3rem;">
    <img src="{{url_for('static', filename='cad_logo.png')}}" alt="study" height="100">
    <h1 style="font-size: 2.4rem; font-weight: 500; line-height: 1.2; margin: 0;">Cadastro</h1>
   
</div>
<hr>
<div class="row" style="padding-left: 3rem;">
    <div class="col-sm-2 mb-2 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Professores</h5>
        <img src="{{url_for('static', filename='professor_logo.png')}}" alt="study" height="100">
        <a class="w-100", href="{{ url_for('cad_professor')}}">
          <button class="btn btn-primary">Novo Professor</button>
        </a>
      </div>
    </div>
    </div>
    
    <div class="col-sm-2 mb-2 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alunos</h5>
        <img src="{{url_for('static', filename='aluno_logo.png')}}" alt="study" height="100">
        <a href="{{url_for('cad_aluno')}}" class="btn btn-primary">Novo Aluno</a>
      </div>
    </div>
    </div>
    
    <div class="col-sm-2 mb-2 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Atividades</h5>
        <img src="{{url_for('static', filename='atividade_logo.png')}}" alt="study" height="100">
        <a href="{{url_for('cad_atividade')}}" class="btn btn-primary">Nova Atividade</a>
      </div>
    </div>
    </div>

    <div class="col-sm-2 mb-2 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Turmas</h5>
        <img src="{{url_for('static', filename='turma_logo.jpeg')}}" alt="study" height="100">
        <a href="{{url_for('cad_turma')}}" class="btn btn-primary">Nova Turma</a>
      </div>
    </div>
    </div>
</div>  

  
{% endblock %}

