{% extends 'base.html' %}

{% block body %}

<div id = "content">
    <div>
        <h1 style="font-size: 2.4rem; font-weight: 500; line-height: 1.2;">
            Bem-vindo(a), {{nome_usuario.username}}!
        </h1>
        <p style="font-size: 1.4rem;">Selecione uma das opções acima!</p>

        {% if aniversariantes %}
            <div class = "aniversariantes-wrap">
                <img class="aniversariantes-img" src="{{url_for('static', filename='aniversariantes.png')}}" alt="study" height="100">
            </div>
            <div class="multiline">
            {% for aniversariante in lista_aniversario_prof %}
                <p>🎉Professor(a) {{aniversariante}}!🎉</p>
            {% endfor %}
            {% for aniversariante in lista_aniversario_alun %}
                <p>🎉Aluno(a) {{aniversariante}}!🎉</p>
            {% endfor %}
            {% for aniversariante in lista_aniversario_adm %}
                <p>🎉Senhor(a) {{aniversariante}}!🎉</p>
            {% endfor %}
            </div>  
        {% endif %}
    </div>
    <img src="{{url_for('static', filename='home_logo.png')}}" alt="study" height="300">
</div>

{% endblock %}