{% extends 'base.html' %}

{% block body %}

<div class = "d-flex align-items-center gap-1", style="padding-left: 3rem; padding-top: 2rem;">
    <h1 style="font-size: 2.4rem; font-weight: 500; line-height: 1.2; margin: 0;">Página de Turmas de {{nome_atividade}}</h1>
</div>
<hr>
<div id="card-pag-turmas">
    {% for turma in turmas %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{turma.nome_turma}}</h5>
                <a href="{{url_for('carregar_chamada',nome_turma=turma.nome_turma)}}" class="btn btn-primary mt-2">Acessar Turma</a>
                {% if privilegio %}
                    <a href="#" class="btn btn-danger mt-2">Excluir Turma</a>
                {% endif%}
            </div>
        </div>
    {%endfor%}
</div>

{% endblock %}